html {
    height: 100%;
}
body {
    min-height: 100%;
    background-color: green;
}
h1 {
    margin: 100px auto;
    color: white;
    text-align: center;
    font-size: 60px;
}
#clock {
    font-size: 100px;
    color: black;
    text-align: center;
}
